@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  /* Fundo Zinc-950 exato do app */
  color: #e4e4e7;
  /* Texto Zinc-200 */
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Scrollbar Global Escura e Moderna */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
  /* Zinc-950 */
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  /* Zinc-800 */
  border-radius: 4px;
  border: 2px solid #09090b;
  /* Cria um padding visual */
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
  /* Zinc-700 */
}

/* Estilo do Loader/Noscript */
.noscript-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  color: #52525b;
}

/* Remove setas do input number */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media print {
    .adsbygoogle, amp-auto-ads, ins { display: none !important; }
}

 